$yellow: #ffcc2a;
$yellow-text: #ffcd00;
$blue: #2d415e;
$blue-2: #2c405f;
$white: #ffffff;
$white-text: #fffaec;
$white-bg: #f8f8f8;
$bg-dark: #fdfdfd;
$head-text-color: #2c2c2c;
$main-text-color: #545454;

$line: #3b8d96;
$line-2: #ccede0;
$line-3: #d0d0d0;

$font-family-open-sans: "Open Sans", sans-serif;
$font-family-georgia: Georgia, "Times New Roman", Times, serif;
$head-text-size: 60px;
$head-text-height: 74px;
$head2-text-size: 48px;
$head2-text-height: 64px;
$main-text-size: 16px;
$main-text-height: 29px;
$weight-regular: 400;
$weight-semi-bold: 600;

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-open-sans;
  font-weight: $weight-regular;
  font-size: $main-text-size;
  line-height: $main-text-height;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  padding: 18px 40px;
  border-radius: 31px;
  font-weight: $weight-semi-bold;
}

.button--accent {
  color: $head-text-color;
  background-color: $yellow;
}

.button--secondary {
  color: $blue;
  border: 1px solid $blue;
  background-color: $white;
}

.bg--dark {
  background-color: $white-bg;
}

/* Promo */
.promo {
  padding: 115px 0 125px;
  background: url(../img/animation.png) no-repeat bottom right;
  background-color: $bg-dark;
  .promo__wrapper {
    width: 560px;
  }
  h2 {
    font-family: $font-family-georgia;
    font-size: $head-text-size;
    line-height: $head-text-height;
    color: $head-text-color;
    margin-bottom: 24px;
  }
  p {
    font-size: $main-text-size;
    line-height: $main-text-height;
    color: $main-text-color;
    margin-bottom: 56px;
  }
  .button {
    margin-right: 20px;
  }
}

/* Statistics */
.statistics {
  padding: 120px 15px;
  .statistics__list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 120px 95px 100px;
    background: url(../img/image.svg) no-repeat top right $blue;
    border-radius: 20px;
    &::before {
      content: "";
      position: absolute;
      top: -30px;
      left: -85px;
      width: 63px;
      height: 77px;
      background: url(../icons/icon-decor-1.svg) no-repeat;
      background-size: contain;
    }
    &::after {
      content: "";
      position: absolute;
      top: 150px;
      left: -100px;
      width: 203px;
      height: 203px;
      background: linear-gradient(
        180deg,
        #ffffff 1.19%,
        rgba(255, 255, 255, 0.0001) 99.58%
      );
      mix-blend-mode: normal;
      opacity: 0.05;
      border-radius: 32px;
      transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
      @include rotate(45deg);
    }
  }
  .statistics__item {
    margin-right: 90px;
    dt {
      font-size: $head-text-size;
      line-height: 82px;
      font-weight: $weight-semi-bold;
      color: $yellow-text;
    }
    dd {
      font-size: $main-text-size;
      line-height: 22px;
      font-weight: $weight-semi-bold;
      color: $white-text;
      margin: 0;
    }
  }
}

/* Offer */
.offer {
  .offer__title {
    position: relative;
    font-family: $font-family-georgia;
    font-size: $head2-text-size;
    line-height: $head2-text-height;
    font-weight: $weight-regular;
    color: $head-text-color;
    text-align: center;
    margin: 20px 0 80px;
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 0;
      width: 72px;
      height: 72px;
      background: url(../icons/icon-decor-2.svg) no-repeat;
      background-size: contain;
    }
  }
}

.card {
  padding: 110px 0;
  .card__wrapper {
    display: flex;
    gap: 30px;
  }
  .card__description-column {
    width: 475px;
    h3 {
      font-family: $font-family-georgia;
      font-size: $head2-text-size;
      line-height: $head2-text-height;
      font-weight: $weight-regular;
      color: $head-text-color;
      margin-bottom: 24px;
    }
    p {
      font-size: $main-text-size;
      line-height: $main-text-height;
      color: $main-text-color;
      margin-bottom: 56px;
    }
  }
  .card__description-column--decor {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 10px;
      width: 58px;
      height: 58px;
      background: url(../icons/icon-decor-3.svg) no-repeat;
      background-size: contain;
    }
  }
}

/* Video-block */
.video-block {
  position: relative;
  .video-block__title {
    font-family: $font-family-georgia;
    font-size: $head2-text-size;
    line-height: $head2-text-height;
    font-weight: $weight-regular;
    color: $head-text-color;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px;
  }
}

.carousel {
  position: relative;
  max-width: 982px;
  margin: 0 auto;
  .carousel__wrapper {
    overflow: hidden;
  }
  .slide-button {
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    z-index: 100;
    top: 32%;
    &:hover path {
      fill: $yellow;
      transition: color 1s;
    }
  }
  .prev {
    left: -80px;
  }
  .next {
    right: -80px;
  }
}

.video-list {
  display: flex;
  flex-wrap: no-wrap;
  column-gap: 25px;
  transition: all 250ms;
  padding: 0;
  .video-list__item {
    display: grid;
    h3 {
      font-size: 20px;
      line-height: 26px;
      font-weight: $weight-regular;
      color: $head-text-color;
      margin: 20px 0 0;
    }
    video {
      object-fit: cover;
      border-radius: 7px;
      width: 310px;
      height: 273px;
    }
    .video-list__wrapper {
      position: relative;
      grid-row-start: 1;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background: url(../icons/play-button.svg) no-repeat;
        background-size: contain;
        cursor: pointer;
        z-index: 10;
      }
    }
  }
}

/* Feedback */
.feedback {
  padding: 64px 0 97px;
  .feedback__title {
    font-family: $font-family-georgia;
    font-size: $head2-text-size;
    line-height: $head2-text-height;
    font-weight: $weight-regular;
    color: $head-text-color;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -270px;
      width: 127px;
      height: 150px;
      background: url(../icons/icon-decor-4.svg) no-repeat;
      background-size: contain;
      @include rotate(-45deg);
    }
    &::after {
      content: "";
      position: absolute;
      top: 90px;
      left: -150px;
      width: 129px;
      height: 117px;
      background: url(../icons/icon-decor-5.svg) no-repeat;
      background-size: contain;
    }
  }
  .feedback__wrapper {
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 885px;
    margin: 0 auto;
    background: $white-bg;
    border-radius: 26px 20px 20px 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      right: -125px;
      width: 97px;
      height: 100px;
      background: url(../icons/icon-decor-4.svg) no-repeat;
      background-size: contain;
    }
    &::after {
      content: "";
      position: absolute;
      top: 300px;
      right: -180px;
      width: 59px;
      height: 75px;
      background: url(../icons/icon-decor-1.svg) no-repeat;
      background-size: contain;
    }
  }
}

.contacts {
  padding: 50px 40px;
  background: url(../icons/contacts-bg.svg) no-repeat;
  background-size: contain;
  .contacts_item {
    margin-bottom: 50px;
    h3 {
      font-size: 32px;
      line-height: 44px;
      font-weight: $weight-regular;
      color: $white;
      margin: 0 0 30px;
    }
    a {
      font-size: $main-text-size;
      line-height: 22px;
      color: $white;
      text-decoration: none;
    }
  }
}
.form {
  padding: 45px 40px;
  h3 {
    font-size: 32px;
    line-height: 44px;
    font-weight: $weight-regular;
    color: $head-text-color;
    margin: 0 0 30px;
  }
  form {
    display: grid;
  }
  input {
    background: $white-bg;
    border: none;
    border-bottom: 1px solid #2c2c2c;
    padding: 7px 0;
    margin-bottom: 40px;
  }
  .button {
    justify-self: center;
  }
}

/* Footer */

.footer {
  background: $white-bg;
  .footer__row {
    padding: 60px 0 30px;
    display: grid;
    column-gap: 70px;
    grid-template-columns: 165px 1fr 2fr 1fr 1fr;
  }
  .footer__category {
    font-size: 20px;
    line-height: 27px;
    color: $head-text-color;
    margin: 0 0 15px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    color: $head-text-color;
    &:hover {
      cursor: pointer;
    }
  }
}

.copyright {
  padding: 16px 0;
  border-top: 1px solid $line-3;
  p {
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    color: $head-text-color;
  }
}

@media screen and (max-width: 1250px) {
  .feedback .feedback__wrapper {
    &::before,
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 1199px) {
  .card__img-column img {
    width: 500px;
  }

  .carousel {
    max-width: 840px;
    .prev {
      left: -65px;
    }
    .next {
      right: -65px;
    }
  }

  .video-list .video-list__item video {
    width: 260px;
    height: 230px;
  }
}

@media screen and (max-width: 991px) {
  $head-text-size: 50px;
  $head-text-height: 64px;
  $head2-text-size: 38px;
  $head2-text-height: 54px;

  .promo {
    padding: 60px 0;
    background: none;
    .promo__wrapper {
      width: auto;
    }
    h2 {
      font-size: $head-text-size;
      line-height: $head-text-height;
    }
  }

  .statistics {
    .statistics__list {
      display: block;
      padding: 60px 80px;
    }
    .statistics__item {
      margin-right: 30px;
      dt {
        font-size: $head-text-size;
        line-height: 82px;
      }
      dd {
        font-size: $main-text-size;
        line-height: 22px;
      }
    }
  }

  .offer {
    .offer__title {
      margin-bottom: 40px;
    }
  }

  .card {
    padding: 40px 0;
    .card__wrapper {
      display: grid;
    }
    .card__description-column {
      grid-row-start: 1;
      width: auto;
      display: grid;
      justify-items: center;
      p {
        margin-bottom: 30px;
      }
    }
    .card__img-column {
      justify-self: center;
    }
  }

  .carousel {
    width: auto;
    .carousel__wrapper {
      overflow-x: auto;
    }
    .slide-button {
      display: none;
    }
  }

  .feedback .feedback__wrapper {
    grid-template-columns: 1fr;
    background: none;
  }
  .contacts {
    background: $blue-2;
  }
  .form {
    grid-row-start: 1;
    margin: 0 16px;
    border-radius: 10px;
    background: $white-bg;
    position: relative;
    top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .promo__buttons {
    display: grid;
    justify-items: center;
    row-gap: 25px;
  }

  .statistics .statistics__list {
    background: $blue;
  }

  .offer {
    .offer__title::before {
      display: none;
    }
  }

  .card__img-column img {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .card__img-column img {
    width: 318px;
  }
}
