body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bg--dark {
  background-color: #f8f8f8;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  padding: 18px 40px;
  border-radius: 31px;
  font-weight: 600;
}

.button--accent {
  color: #2c2c2c;
  background-color: #ffcc2a;
}

.button--secondary {
  color: #2d415e;
  border: 1px solid #2d415e;
  background-color: #ffffff;
}

.button--bg-hide {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 1px solid #ffcc2a;
}

.button--bg-hide:hover {
  color: #ffcc2a;
  border-color: #ffcc2a;
  background: transparent;
}

.button--bg-show {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.button--bg-show:hover {
  color: #ffffff;
  background: #2d415e;
}

.button--scale {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.button--scale:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.button--animation {
  --background: #ffcc2a;
  --text: #2c2c2c;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --font-shadow: var(--font-size);
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  -webkit-transform: translateY(var(--y)) translateZ(0);
          transform: translateY(var(--y)) translateZ(0);
  -webkit-transition: -webkit-transform var(--duration) ease, -webkit-box-shadow var(--duration) ease;
  transition: -webkit-transform var(--duration) ease, -webkit-box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease, -webkit-box-shadow var(--duration) ease;
}

.button--animation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}

.button--animation div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
  -webkit-transition: -webkit-transform var(--duration) ease;
  transition: -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease;
  transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
  -webkit-transform: translateY(var(--m)) translateZ(0);
          transform: translateY(var(--m)) translateZ(0);
}

.button--animation div span:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.button--animation div span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.button--animation div span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.button--animation div span:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.button--animation div span:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.button--animation div span:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.button--animation div span:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.button--animation div span:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.button--animation div span:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.button--animation div span:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.button--animation div span:nth-child(11) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.button--animation:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}

.button--animation:hover span {
  --m: calc(var(--font-size) * -1);
}

/* Header */
.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);
  padding: 25px 0;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 145px 1fr;
      grid-template-columns: 145px 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation__burger-button {
  display: none;
  border: none;
  width: 34px;
  height: 34px;
  background: url(../icons/icon-burger.svg) no-repeat;
}

.navigation .navigation__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navigation__social {
  display: none;
}

.navigation ul {
  margin: 0;
}

.navigation li {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #2d415e;
}

.navigation a:hover {
  cursor: pointer;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-list .navigation-list__item {
  margin-right: 36px;
}

.navigation-list .navigation-list__item:last-child {
  margin-right: 0;
}

.navigation-list .navigation-list__item:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.navigation-list .navigation-list__item--attachments {
  position: relative;
}

.navigation-list .navigation-list__item--attachments::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -15px;
  width: 10px;
  height: 4px;
  background: url(../icons/icon-arrow.svg) no-repeat;
  background-size: contain;
}

.submenu {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 723px;
  top: 35px;
  left: -150px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);
  border-radius: 10px;
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.submenu a {
  display: block;
}

.user-navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 40px;
      grid-template-columns: auto 40px;
  -webkit-column-gap: 35px;
          column-gap: 35px;
  position: relative;
}

.user-navigation button {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}

.user-navigation button::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -10px;
  width: 10px;
  height: 4px;
  background: url(../icons/icon-arrow.svg) no-repeat;
  background-size: contain;
}

.submenu-languages {
  position: absolute;
  padding: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0826049);
  border-radius: 10px;
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transform: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.submenu-languages--open {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Promo */
.promo {
  padding: 115px 0 125px;
  background: url(../img/animation.png) no-repeat top right;
  background-color: #fdfdfd;
}

.promo .promo__wrapper {
  width: 560px;
}

.promo h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  line-height: 74px;
  color: #2c2c2c;
  margin-bottom: 24px;
}

.promo p {
  font-size: 16px;
  line-height: 29px;
  color: #545454;
  margin-bottom: 56px;
}

.promo .button {
  margin-right: 20px;
}

/* Statistics */
.statistics {
  padding: 120px 15px;
}

.statistics .statistics__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 120px 95px 100px;
  background: url(../img/image.svg) no-repeat top right #2d415e;
  border-radius: 20px;
}

.statistics .statistics__list::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -85px;
  width: 63px;
  height: 77px;
  background: url(../icons/icon-decor-1.svg) no-repeat;
  background-size: contain;
}

.statistics .statistics__list::after {
  content: "";
  position: absolute;
  top: 150px;
  left: -100px;
  width: 203px;
  height: 203px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.19%, #ffffff), color-stop(99.58%, rgba(255, 255, 255, 0.0001)));
  background: linear-gradient(180deg, #ffffff 1.19%, rgba(255, 255, 255, 0.0001) 99.58%);
  mix-blend-mode: normal;
  opacity: 0.05;
  border-radius: 32px;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.statistics .statistics__item {
  margin-right: 90px;
}

.statistics .statistics__item dt {
  font-size: 60px;
  line-height: 82px;
  font-weight: 600;
  color: #ffcd00;
}

.statistics .statistics__item dd {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #fffaec;
  margin: 0;
}

/* Offer */
.offer .offer__title {
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  color: #2c2c2c;
  text-align: center;
  margin: 20px 0 80px;
}

.offer .offer__title::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 72px;
  height: 72px;
  background: url(../icons/icon-decor-2.svg) no-repeat;
  background-size: contain;
}

.card {
  padding: 110px 0;
}

.card .card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.card .card__description-column {
  width: 475px;
}

.card .card__description-column h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  color: #2c2c2c;
  margin-bottom: 24px;
}

.card .card__description-column p {
  font-size: 16px;
  line-height: 29px;
  color: #545454;
  margin-bottom: 56px;
}

.card .card__description-column--decor {
  position: relative;
}

.card .card__description-column--decor::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 58px;
  height: 58px;
  background: url(../icons/icon-decor-3.svg) no-repeat;
  background-size: contain;
}

/* Video-block */
.video-block {
  position: relative;
}

.video-block .video-block__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  color: #2c2c2c;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 75px;
}

.carousel {
  position: relative;
  max-width: 982px;
  margin: 0 auto;
}

.carousel .carousel__wrapper {
  overflow: hidden;
}

.carousel .slide-button {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  z-index: 100;
  top: 32%;
}

.carousel .slide-button:hover path {
  fill: #ffcc2a;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.carousel .prev {
  left: -80px;
}

.carousel .next {
  right: -80px;
}

.video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  padding: 0;
}

.video-list .video-list__item {
  display: -ms-grid;
  display: grid;
}

.video-list .video-list__item h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #2c2c2c;
  margin: 20px 0 0;
}

.video-list .video-list__item video {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  width: 310px;
  height: 273px;
}

.video-list .video-list__item .video-list__wrapper {
  position: relative;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.video-list .video-list__item .video-list__wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: url(../icons/play-button.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 10;
}

/* Feedback */
.feedback {
  padding: 64px 0 97px;
}

.feedback .feedback__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  color: #2c2c2c;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.feedback .feedback__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -270px;
  width: 127px;
  height: 150px;
  background: url(../icons/icon-decor-4.svg) no-repeat;
  background-size: contain;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback .feedback__title::after {
  content: "";
  position: absolute;
  top: 90px;
  left: -150px;
  width: 129px;
  height: 117px;
  background: url(../icons/icon-decor-5.svg) no-repeat;
  background-size: contain;
}

.feedback .feedback__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 1fr;
      grid-template-columns: 350px 1fr;
  max-width: 885px;
  margin: 0 auto;
  background: #f8f8f8;
  border-radius: 26px 20px 20px 26px;
  position: relative;
}

.feedback .feedback__wrapper::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -125px;
  width: 97px;
  height: 100px;
  background: url(../icons/icon-decor-4.svg) no-repeat;
  background-size: contain;
}

.feedback .feedback__wrapper::after {
  content: "";
  position: absolute;
  top: 300px;
  right: -180px;
  width: 59px;
  height: 75px;
  background: url(../icons/icon-decor-1.svg) no-repeat;
  background-size: contain;
}

.contacts {
  padding: 50px 40px;
  background: url(../icons/contacts-bg.svg) no-repeat;
  background-size: contain;
}

.contacts .contacts_item {
  margin-bottom: 50px;
}

.contacts .contacts_item h3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 30px;
}

.contacts .contacts_item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.form {
  padding: 45px 40px;
}

.form h3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #2c2c2c;
  margin: 0 0 30px;
}

.form form {
  display: -ms-grid;
  display: grid;
}

.form input {
  outline: none;
  background: #f8f8f8;
  border: none;
  border-bottom: 1px solid #2c2c2c;
  padding: 7px 0;
  margin-bottom: 40px;
}

.form .button {
  -ms-grid-column-align: center;
      justify-self: center;
}

/* Footer */
.footer {
  background: #f8f8f8;
}

.footer .footer__row {
  padding: 60px 0 30px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 70px;
          column-gap: 70px;
  -ms-grid-columns: 165px 1fr 2fr 1fr 1fr;
      grid-template-columns: 165px 1fr 2fr 1fr 1fr;
}

.footer .footer__category {
  font-size: 20px;
  line-height: 27px;
  color: #2c2c2c;
  margin: 0 0 15px;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #2c2c2c;
}

.footer a:hover {
  cursor: pointer;
}

.copyright {
  padding: 16px 0;
  border-top: 1px solid #d0d0d0;
}

.copyright p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #2c2c2c;
}

@media screen and (max-width: 1250px) {
  .feedback .feedback__wrapper::before, .feedback .feedback__wrapper::after {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .card__img-column img {
    width: 500px;
  }
  .carousel {
    max-width: 840px;
  }
  .carousel .prev {
    left: -65px;
  }
  .carousel .next {
    right: -65px;
  }
  .video-list .video-list__item video {
    width: 260px;
    height: 230px;
  }
  .footer {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .header {
    padding: 0;
  }
  .header .container {
    padding: 0;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 15px;
  }
  .navigation .navigation__menu {
    padding: 0;
    width: 95%;
    margin-bottom: 25px;
  }
  .navigation .navigation__burger-button {
    display: block;
  }
  .navigation .navigation__wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    background: #ffffff;
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transform: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .navigation .navigation__wrapper--open {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .navigation .navigation__social {
    justify-self: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation .navigation__social .social-list__item {
    margin-right: 15px;
  }
  .navigation .navigation__users {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .navigation-list {
    display: block;
    grid-column: 1 / -1;
  }
  .navigation-list .navigation-list__item {
    position: relative;
    margin-right: 0;
  }
  .navigation-list .navigation-list__item a {
    display: block;
    font-size: 24px;
    line-height: 40px;
    border-bottom: 1px solid #d0d0d0;
    padding-top: 20px;
  }
  .navigation-list .navigation-list__item--attachments::after {
    top: 30px;
    right: 10px;
    width: 20px;
    height: 8px;
  }
  .submenu {
    position: absolute;
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transform: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: block;
    height: 1px;
    position: static;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding: 0;
  }
  .submenu .submenu__img,
  .submenu .submenu__description {
    display: none;
  }
  .submenu .submenu__item a {
    font-size: 16px;
    line-height: 22px;
    border: none;
    padding: 12px;
  }
  .submenu p {
    margin: 0;
  }
  .submenu--open {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    height: auto;
  }
  .social-list {
    padding: 0 15px;
  }
  .user-navigation {
    padding: 0 15px;
    /*  display: grid;
  grid-template-columns: auto 40px;
  column-gap: 35px;*/
  }
  .promo {
    padding: 60px 0;
    background: #fdfdfd;
  }
  .promo .promo__wrapper {
    width: auto;
  }
  .promo h2 {
    font-size: 50px;
    line-height: 64px;
  }
  .statistics .statistics__list {
    display: block;
    padding: 60px 80px;
  }
  .statistics .statistics__item {
    margin-right: 30px;
  }
  .statistics .statistics__item dt {
    font-size: 50px;
    line-height: 82px;
  }
  .statistics .statistics__item dd {
    font-size: 16px;
    line-height: 22px;
  }
  .offer .offer__title {
    margin-bottom: 40px;
  }
  .card {
    padding: 40px 0;
  }
  .card .card__wrapper {
    display: -ms-grid;
    display: grid;
  }
  .card .card__description-column {
    -ms-grid-row: 1;
        grid-row-start: 1;
    width: auto;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .card .card__description-column p {
    margin-bottom: 30px;
  }
  .card .card__img-column {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .carousel {
    width: auto;
  }
  .carousel .carousel__wrapper {
    overflow-x: auto;
  }
  .carousel .slide-button {
    display: none;
  }
  .feedback .feedback__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background: none;
  }
  .contacts {
    background: #2c405f;
  }
  .form {
    -ms-grid-row: 1;
        grid-row-start: 1;
    margin: 0 16px;
    border-radius: 10px;
    background: #f8f8f8;
    position: relative;
    top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .promo__buttons {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    row-gap: 25px;
  }
  .statistics .statistics__list {
    background: #2d415e;
  }
  .offer .offer__title::before {
    display: none;
  }
  .card__img-column img {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .card__img-column img {
    width: 318px;
  }
}
/*# sourceMappingURL=style.css.map */